/**
* @file
* Contractor box
*
* Located on the pages: contractors/*
*/

.contractorBoxWrap {}

.contractorBox {
  background: $white;
  width: 100%;
  padding: 5px;

  &:not(.signUp) {
    height: 100%;
  }

  &Content {
    border: 3px solid $grey--lightest;
    height: 100%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-img {
    margin-bottom: 20px;
    text-align: center;
    > img {
      border: 5px solid $grey--lightest;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  &-name {
    margin-bottom: 10px;
    font-family: $fontFamily-extrabold;
    text-transform: uppercase;
    text-align: center;
  }

  &-title {
    margin-bottom: 25px;
    font-size: 14px;
    height: 32px;
    overflow-y: hidden;
    text-align: center;
  }

  &-rate,
  &-location {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $grey--lightest;
    font-size: 14px;
    &-label {
      font-family: $fontFamily-extrabold;
    }
    &-value {
      strong {
        font-family: $fontFamily-bold--second;
        font-size: 18px;
      }
    }
  }

  &-rate {
    border-top: 1px solid $grey--lightest;
  }

  &-skills {
    padding: 25px 0;
    flex-grow: 1;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: -5px;
      max-height: 65px;
      overflow-y: hidden;
      li {
        list-style: none;
        margin: 5px;
      }
    }
  }

  &-signUp {
    color: $grey--light;
    padding: 0 40px;
    margin-bottom: 1rem;
  }

  &.signUp {
    text-align: center;

    .contractorBoxContent {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
