/**
 * @file
 * Contractor box
 *
 * Located on the pages: profile/*
 */

.page-profile-main {
  background: $grey--background;
  font-size: 18px;
  line-height: 26px;

  section {
    h1,
    h2,
    h3 {
      font-family: "poppinsregular",Helvetica,Arial,sans-serif;
      font-size: 24px;
    }

    h1 {
      margin-top: 10px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 1em;
      text-align: left;
      font-weight: normal;
    }
  }

  .field-name-field-profile-picture {
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px #ccc;
    float: left;
    margin: 0 20px 20px 0;
  }

  .profile2-main {
    p {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
