/**
 * @file
 * Contractors slider
 *
 * Located on the pages: contractors/*
 */

.contractorsSlider {
  position: relative;

  .slick-track {
    display: flex;
    align-items: stretch;

    > .slick-slide {
      height: auto;
      outline: 0;

      .views-field-nothing {
        height: 100%;
      }

      .panel-display {
        height: 100%;
      }

      .slide__content,
      .panel-panel {
        height: 100%;

        > div {
          height: 100%;

          > div,
          .contractorBoxWrap,
          .contractorBox.signUp {
            height: 100%;
          }
        }
      }
    }
  }

  > a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 75px;
    padding: 0;
    text-indent: -9999px;
    border: 1px solid $grey;
    border-radius: 0;
    background: $white;
    transition: all .3s;
    z-index: 1;

    &:hover {
      background: $blue--darkest;
      border-color: $blue--darkest;
      &:before {
        border-color: $white;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 25px;
      width: 25px;
      height: 25px;
      border-left: 1px solid $grey--darkest;
      border-bottom: 1px solid $grey--darkest;
      transition: all .3s;
    }

    &.slick-disabled {
      display: none !important;
    }

    &.carousel-control-prev {
      left: 0;
      &:before {
        transform: rotate(45deg);
        right: -4px;
      }
    }

    &.carousel-control-next {
      right: 0;
      &:before {
        transform: rotate(-135deg);
        left: -4px;
      }
    }
  }
}

#contractorsSlider .carousel-inner .carousel-item {
  height: auto;
  margin-right: inherit;
}

@include media-breakpoint-up(md) {
  #contractorsSlider {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
  }
}
