/**
 * @file
 * Contractors slider
 *
 * Located on the pages: contractors/*
 */

 .contractorsSlider {
  position: relative;

  .slick-track {
    display: flex;
    align-items: stretch;

    > .slick-slide {
      height: auto;
      outline: 0;

      .views-field-nothing {
        height: 100%;
      }

      .panel-display {
        height: 100%;
      }

      .slide__content,
      .panel-panel {
        height: 100%;

        > div {
          height: 100%;

          > div,
          .contractorBoxWrap,
          .contractorBox.signUp {
            height: 100%;
          }
        }
      }
    }
  }

  > a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 75px;
    padding: 0;
    text-indent: -9999px;
    border: 1px solid $grey;
    border-radius: 0;
    background: $white;
    transition: all .3s;
    z-index: 1;

    &:hover {
      background: $blue--darkest;
      border-color: $blue--darkest;
      &:before {
        border-color: $white;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 25px;
      width: 25px;
      height: 25px;
      border-left: 1px solid $grey--darkest;
      border-bottom: 1px solid $grey--darkest;
      transition: all .3s;
    }

    &.slick-disabled {
      display: none !important;
    }

    &.carousel-control-prev {
      left: 0;
      &:before {
        transform: rotate(45deg);
        right: -4px;
      }
    }

    &.carousel-control-next {
      right: 0;
      &:before {
        transform: rotate(-135deg);
        left: -4px;
      }
    }
  }
}

.carousel-multiple-items {
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
    align-items: stretch;
  }

  @include media-breakpoint-up(sm) {
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
      transform: translateX(0);
    }

    .carousel-item-left.carousel-item-next,
    .carousel-item-right.active {
      opacity: 0;
    }
  }

  @include media-breakpoint-between(sm, md) {
    .carousel-item-right.active,
    .carousel-item-next {
      transform: translateX(50%);
    }
    .carousel-item-left.active,
    .carousel-item-prev {
      transform: translateX(-50%);
    }
  }

  @include media-breakpoint-between(md, lg) {
    .carousel-item-right.active,
    .carousel-item-next {
      transform: translateX(33.3333%);
    }
    .carousel-item-left.active,
    .carousel-item-prev {
      transform: translateX(-33.3333%);
    }
  }

  @include media-breakpoint-up(lg) {
    .carousel-item-right.active,
    .carousel-item-next {
      transform: translateX(25%);
    }

    .carousel-item-left.active,
    .carousel-item-prev {
      transform: translateX(-25%);
    }
  }
}
