/**
 * @file
 * Hero banner styles
 *
 * Located on the pages: Home page,
 */

.heroBanner {
  background-color: $newblue;
  padding-top: 145px;
  padding-bottom: 50px;

  @include media-breakpoint-up(lg) {
    padding-top: 183px;
    padding-bottom: 132px;
  }

  &.dark {
    background-color: $newblue--darkest;

    @include media-breakpoint-up(md) {
      padding-top: 90px;
      padding-bottom: 50px;

      .field-name-field-hero-title {
        padding-bottom: 0;
      }

      .field-name-field-hero-subtitle2 {
        margin-bottom: 40px;
      }

      .field-name-field-hero-subtitle2 {

        h3 {
          font-size: 2.3rem;
          line-height: 2;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .heroBanner-body {
        padding-left: 60px;
      }

      .field-name-field-hero-title {
        h2 {
          font-size: 6rem;
        }
      }
    }
  }

  &-body {
    max-width: 850px;

    .field-name-field-hero-title {
      h1 {
        color: $white;
        text-align: left;
        line-height: 1.25em;
        font-size: 3rem;
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
          font-size: 5rem;
          margin-bottom: 40px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 7rem;
          margin-bottom: 60px;
        }
      }
    }

    .field-name-field-hero-subtitle2 {
      margin-bottom: 68px;
      h3 {
        color: $white;
        line-height: 1.5em;
        font-family: $fontFamily-serif;
        font-size: 2.3rem;

        @include media-breakpoint-up(sm) {
          font-size: 2.8rem;
        }
      }
    }

    .heroBanner--grouped_buttons {
      div { display: inline-block; }
      .btn {
        border-width: 0;
        display: inline-block;
        font-size: 2rem;
        min-width: 300px;
        margin-bottom: 20px;
        height: auto;
        padding: 15px 8px 12px;
      }
      text-align: center;

      @include media-breakpoint-up(sm) {
        text-align: left;
        > div:first-child .btn {
          margin-right: 30px;
        }
      }
    }
  }

  &-image.homepage {
    .field-name-field-hero-image {
      margin: 0 auto;
      position: relative;
      @include media-breakpoint-up(lg) {
        right: -150px;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      width: 414px;
      margin: 0 auto;
      display: block;
    }
  }

  &-image:not(.homepage) {
    text-align: center;

    img {
      height: auto;
    }
  }
}

.historyBanner {
  background-blend-mode: overlay;
  background-image: url('/assets/img/history-hero3.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position-y: top;
  background-color: $grey--dark;
  color: $white;
  min-height: 500px;
  padding-top: 90px;
  padding-bottom: 50px;

  h3 {
    font-family: $font-catamaranthin;
    font-weight: normal;
    font-size: 3rem;
    line-height: 2;
  }

  p {
    font-family: $font-catamaranthin;
    font-weight: normal; 
    font-size: 4.8rem;
  }

  @include media-breakpoint-down(md) {
    h3 {
      font-size: 2.3rem;
      line-height: 2;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 183px;
    padding-bottom: 132px;
  }

  &-body {
    padding-bottom: 40px;
    max-width: 850px;
  }
}
