/**
 * @file
 * Hero banner styles
 *
 * Located on the pages: Home page,
 */

.heroBanner {
  background-color: $newblue;

  .hero-title {
    color: $white;
    text-align: left;
    line-height: 1.25em;
    font-size: 3rem;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
      font-size: 5rem;
      margin-bottom: 40px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 7rem;
      margin-bottom: 60px;
    }
  }

  .hero-subtitle {
    margin-bottom: 68px;

    h3 {
      color: $white;
      line-height: 1.5em;
      font-family: $fontFamily-serif;
      font-size: 2.3rem;

      @include media-breakpoint-up(sm) {
        font-size: 2.8rem;
      }
    }
  }

  .image-50 {
    max-width: initial;
    width: auto;
  }

  &--grouped_buttons {
    .btn {
      border-width: 0;
      font-size: 2rem;
      min-width: 300px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @include media-breakpoint-up(sm) {
      text-align: left;
      > div:first-child .btn {
        margin-right: 30px;
      }
    }
  }

  &-body {
    padding: 145px 0 50px 0;

    @include media-breakpoint-only(md) {
      padding-right: 30px;
    }

    @include media-breakpoint-up(lg) {
      padding: 183px 50px 132px 0;
    }
  }

  &-image.homepage {
    .field-name-field-hero-image {
      margin: 0 auto;
      position: relative;
      @include media-breakpoint-up(lg) {
        right: -150px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      width: 414px;
      margin: 0 auto;
      display: block;
    }
  }

  &.dark {
    background-color: $newblue--darkest;

    @include media-breakpoint-up(md) {
      .heroBanner-body {
        padding-top: 90px;
        padding-bottom: 50px;
      }

      .hero-subtitle {
        margin-bottom: 40px;

        h3 {
          font-size: 2.3rem;
          line-height: 2;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .hero-title {
        font-size: 6rem;
      }
    }
  }
}

.historyBanner {
  background-blend-mode: overlay;
  background-image: url('/assets/img/history-hero3.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position-y: top;
  background-color: $grey--dark;
  color: $white;
  min-height: 500px;
  padding-top: 90px;
  padding-bottom: 50px;

  h3 {
    font-family: $font-catamaranthin;
    font-weight: normal;
    font-size: 3rem;
    line-height: 2;
  }

  p {
    font-family: $font-catamaranthin;
    font-weight: normal; 
    font-size: 4.8rem;
  }

  @include media-breakpoint-down(md) {
    h3 {
      font-size: 2.3rem;
      line-height: 2;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 183px;
    padding-bottom: 132px;
  }

  &-body {
    padding-bottom: 40px;
    max-width: 850px;
  }
}
