/**
 * @file
 * Job
 *
 * Located on the pages: job node type
 */

.node-type-job {
  background: $grey--background;

  article {
    margin: 40px 0;

    #main-wrapper {
      padding-bottom: 40px;
    }

    .container {
      background-color: $white;
      border-color: $grey--mid;
      box-shadow: $box-shadow;
      padding: 20px;
    }

    .job-title {
      font-size: 30px;
    }

    .profile-company__logo {
      margin-bottom: 10px;

      img {
        max-height: 50px;
      }
    }

    .profile-company__name {
      display: inline-block;
      font-family: $fontFamily-semibold;
    }

    .profile-company__location {
      display: inline-block;

      &::before {
        content: "\2022";
      }
    }

    h2,
    h3 {
      font-family: "poppinssemibold",Helvetica,Arial,sans-serif;
    }

    h2 {
      font-size: 18px;
      text-align: left;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
