/**
 * @file
 * Main menu styles for mobile view
 *
 * Located on the pages: All page
 */

.navbar-toggler {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: auto;
  padding: 5px;
  background: transparent;
  border: 0;
  color: $white;
  font-size: 30px;
  line-height: 1;
  transition: all .3s;
  outline: 0;
  &:hover {
    color: $blue;
  }
  &:focus {
    outline: none;
  }
}

.not-front {
  .hamburger {
    color: $grey;
    &:hover {
      color: $blue;
    }
  }
}

.mobileMenu {

  &-close {
    position: absolute;
    top: 15px;
    right: 10px;
    height: auto;
    width: auto;
    border: 0;
    padding: 5px;
    line-height: 1;
    background: transparent;
    outline: 0;

    .fa-times {
      color: $grey--darkest;
    }
  }
}

.is-openMenu {
  .navbar-collapse {
    right: 0;
  }
  .scrollHeader {
    right: $mobileMenuWidth--mobile;
    @include media-breakpoint-up(xs) {
      right: $mobileMenuWidth--tablet;
    }
  }
}

.block-system-user-menu-instance {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.hamburger-top {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: auto;
  padding: 5px;
  background: transparent;
  border: 0;
  color: gray;
  font-size: 30px;
  line-height: 1;
  transition: all .3s;
  outline: 0;
  &:hover {
    color: $blue;
  }
}

.mobile-buttons {
  .right-button {
    text-align: center;
    padding: 10px;
    border: 2px solid $black;
    margin: 0px 10px;
    border-radius: 6px;
    a {
      color: $black;
    }
  }
  .right-two-button {
    text-align: center;
    padding: 10px;
    border: 2px solid $black;
    margin: 10px;
    background: $black;
    border-radius: 6px;
    a {
      color: $white;
    }
  }
}

.display-buttons {
  background: $white;
  z-index: 9999999 !important;
  display: block;
  .collapse {
    padding: 1px;
  }
}
