/**
 * @file
 * Testimonials section
 *
 * Located on the pages: Home page,
 */

.sectionTestimonial {
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    padding: 40px 0;
  }
  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }
  &:hover {
    .slick__arrow {
      opacity: 1;
    }
  }
}

.sliderTestimonial {
  .slick--skin--boxed-carousel .slick-list {
    margin: 0;
  }
  .slick-slide {
    outline: 0;
  }
  .slide__content {
    padding: 0;
    margin: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50%;
    @include media-breakpoint-up(sm) {
      width: 40px;
    }
  }

  .carousel-control-next {
    justify-content: flex-end;
  }

  .carousel-control-prev {
    justify-content: flex-start;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 40px
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42.891' height='81.189' viewBox='0 0 42.891 81.189'%3E%3Cpath id='Path_3' data-name='Path 3' d='M674,683.355l-38.062,38.062L674,758.887' transform='translate(-633.938 -680.527)' fill='none' stroke='%2389bada' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3C/svg%3E%0A");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42.89' height='81.189' viewBox='0 0 42.89 81.189'%3E%3Cpath id='Path_3' data-name='Path 3' d='M635.938,683.355,674,721.417l-38.062,37.47' transform='translate(-633.109 -680.527)' fill='none' stroke='%2389bada' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3C/svg%3E%0A");
  }
}

.boxTestimonial {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    padding: 0 40px;
  }

  &-img {
    margin-bottom: 20px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
      @include media-breakpoint-up(sm) {
        width: inherit;
        height: inherit;
      }
      @include media-breakpoint-up(lg) {
        max-width: none;
      }
    }
  }

  &-body {
    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
    @include media-breakpoint-up(md) {
      padding-left: 20px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 50px;
    }

    i {
      font-size: 30px;
      color: $blue--light;
      @include media-breakpoint-up(sm) {
        font-size: 20px;
      }
      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }

    &-description {
      font-family: $fontFamily-thin;
      font-size: 20px;
      @include media-breakpoint-up(sm) {
        font-size: 22px;
      }
      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 36px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 40px;
      }
    }

    &-author {
      padding-top: 10px;
      text-align: right;
      font-family: $fontFamily-extrabold;
      font-size: 14px;
      color: $blue;
      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }
      span {
        display: block;
      }
    }

    &-btn {
      padding-top: 30px;
      text-align: center;
      @include media-breakpoint-up(sm) {
        text-align: right;
      }
      a {
        width: 100%;
        max-width: 260px;
      }
    }
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
