<div class="pane-content">
  <div class="companyList">
    <div class="view-header container">
      <h3>Trusted by Top Agencies and Employers</h3>
    </div>
    <div class="view-content container">
      <div class="companyList-row">
        <img typeof="foaf:Image" src="/assets/img/agencies/avionos.svg" alt="Avionos" />
      </div>
      <div class="companyList-row">
        <img typeof="foaf:Image" src="/assets/img/agencies/robert-half.svg" alt="Robert Half Technologies" />
      </div>
      <div class="companyList-row">
        <img typeof="foaf:Image" src="/assets/img/agencies/oomph_wordmark.svg" alt="Ooomph" />
      </div>
      <div class="companyList-row">
        <img typeof="foaf:Image" src="/assets/img/agencies/isovera.svg" alt="Isovera" />
      </div>
    </div>
  </div>
</div>
