{% assign team_by_number = site.data.our_team.team_by_number %}
<div class="block block--company-numbers bg-dark">
  <div class="container">
    <div class="row justify-content-md-between ">
      <div class="col-md-6 border-right border-info d-flex align-items-md-center">
        <div>
          <h2 class="text-white text-left">{{ team_by_number.title }}</h2>
          <a href="{{ team_by_number.btn_link }}" class="btn btn-primary btn-long">{{ team_by_number.btn_text }}</a>
        </div>
      </div>

      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <div class="numbers">
          {% for number in team_by_number.numbers %}
            <div class="number-wrap">
              <div class="number text-info">{{ number.number }}</div>
              <div class="number-description text-lowercase text-white">{{ number.description }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
