{% assign  component_fields = site.data.our_team.joining_our_team %}
<div class="block block-image block--joining-our-team">
  <div class="container">
    <div class="row justify-content-md-between ">
      <div class="col-md-5 d-flex align-items-md-center">
        <div>
          <h2 class="text-white text-left">{{ component_fields.title }}</h2>
          <a href="{{ component_fields.btn_link }}" class="btn btn-primary btn-long">{{ component_fields.btn_text }}</a>
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-md-start">
        <img src="{{ component_fields.img }}"
          alt="{% if component_fields.img_alt %}{{ component_fields.img_alt }}{% else %}{{ component_fields.title }}{% endif %}"
          class="image image-50"
        >
      </div>
    </div>
  </div>
</div>
