<div class="code-sprint-wrapper container-fluid">
  <div class="container">
    <div class="row">
      <div class="code-sprint-block">
        <div class="col-md-6 description">
          <div class="5-star-bg">
            <h2>Our Code review is no joke</h2>
            <h3>Only Senior Developers and longtime members of {{ site.vertical }} allowed.</h3>
            <p>Our process for identifying those developers with Senior Professionals with Enterprise level experience
              is our most rigorous vetting process. To be among the best on {{ site.title }} and considered an
              Enterprise Professional a resource must bring large enterprise project experience along with technical,
              workflow tools, remote-work experience, communications skills and a demonstration of commitment to the
              <a href="{{ site.community }}" target="_blank">{{ site.vertical }} Community</a> and
              <a href="{{ site.coding_standards }}" target="_blank">{{ site.vertical }} Coding Standards</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
