{% assign dir = page.url | split: '/'  %}
<header class="siteHeader">
  <div class="container">
    <div class="siteHeader-body">
      <div class="siteHeader-body-left">
        <div class="region region-navigation-left">
          <div class="block block-drupalcontractors-logos logo logo--light block--">
            <div class="block__content">
              <a href="/" title="{{ site.title }}">
                <img typeof="foaf:Image" src="{{ site.logo.white }}" alt="{{ site.title }}" title="{{ site.title }}" />
              </a>
            </div>
          </div>
          <div class="block block-drupalcontractors-logos logo logo--dark block--">
            <div class="block__content">
              <a href="/" title="{{ site.title }}">
                <img typeof="foaf:Image" src="{{ site.logo.black }}" alt="{{ site.title }}" title="{{ site.title }}" />
              </a>
            </div>
          </div>
          <div class="block block-system siteMenu block-menu block--none">
            <div class="block__content">
              <ul class="menu nav">
                <li class="first expanded siteMenu-second js-firstLvl menu-link-browse"><span class="nolink">Browse<span class="caret"></span></span>
                  <ul class="menu nav-pills nav-stacked nav flex-column" style="display:none">
                    <li class="first expanded siteMenu-third js-secondLvl menu-link-browse-contractors"><span class="nolink">Browse Contractors<span class="caret"></span></span>
                      <ul class="menu nav-pills nav-stacked nav flex-column">
                        {% for title in site.data.config.titles %}
                        <li class="leaf">
                          <a href="/contractors/{{ title.key }}" title="{{ site.data.config.valueMap[title.key] }}">{{ site.data.config.valueMap[title.key] }}</a>
                        </li>
                        {% endfor %}
                        <li class="last leaf menu-link-see-all"><a href="/contractors/">See All</a></li>
                      </ul>
                    </li>
                    <li class="collapsed siteMenu-third js-secondLvl menu-link-browse-jobs"><a href="/jobs">Browse
                        Jobs</a></li>
                    <li class="last expanded siteMenu-third js-secondLvl menu-link-trending-skills"><span
                        class="nolink">Trending Skills<span class="caret"></span></span>
                      <ul class="menu nav">
                        {% for skill in site.data.config.skills %}
                        <li class="leaf">
                          <a href="/skills/{{ skill.key }}" title="{{ site.data.config.valueMap[skill.key] }}">{{ site.data.config.valueMap[skill.key] }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="last leaf active menu-link-how-it-works">
                  <a href="{% if dir %}/{% endif %}#how-it-works" class="active">How it works</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="siteHeader-body-right">
        <div class="region region-navigation-right">
          <div class="block block-block siteHeader-body-right-link siteHeader-body-right-link--account block--">
            <div class="block__content">
              <div class="sign_up-button"><a href="/getting-started/"><span class="mbri-edit"></span> Sign Up</a></div>
            </div>
          </div>
          <div class="block block-block siteHeader-body-right-link siteHeader-body-right-link--btn block--">
            <div class="block__content">
              <div><a class="btn btn--blue" href="{{ site.slack_signup_link }}">Become a Contractor</a></div>
            </div>
          </div>
        </div>
        <button class="hamburger js-hamburger"><i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</header>
