<div class="row">
  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/tabs/contact.svg" width="100" height="96" alt="Contractors Join" />
    </div>
    <div class="icon-card__title">
      <h4>Get in touch</h4>
    </div>
    <div class="icon-card__description px-xl-5">
      <p>Get in touch with {{ site.title }} to let us know what you’re looking for.</p>
    </div>
  </div>

  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/tabs/talent.svg" width="150" height="98" alt="Employers Hire" />
    </div>
    <div class="icon-card__title">
      <h4>Get connected</h4>
    </div>
    <div class="icon-card__description px-xl-5">
      <p>Whether you use Slack, MS Teams, or something else, we connect our platform to yours.</p>
    </div>
  </div>

  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/tabs/time.svg" width="97" height="82" alt="Employer Work" />
    </div>
    <div class="icon-card__title">
      <h4>Qualify and choose</h4>
    </div>
    <div class="icon-card__description px-xl-5">
      <p>As you add projects, you’re able to review and interview qualified, available talent.</p>
    </div>
  </div>

  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/tabs/bill.svg" width="84" height="82" alt="Employer Pay" />
    </div>
    <div class="icon-card__title">
      <h4>One bill</h4>
    </div>
    <div class="icon-card__description px-xl-5">
      <p>As your resources work, you’ll be given detailed reports and will be billed monthly.</p>
    </div>
  </div>
</div>
