<div class="row">
  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/hiw-contractors-join2_0.png" width="100" height="96" alt="Contractors Join" />
    </div>
    <div class="icon-card__title">
      <h4>Join Us!</h4>
    </div>
    <div class="icon-card__description">
      <p>Create your free profile on our Talent Network and set availability.</p>
    </div>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/hiw-employer-hire_0_0_0.png" width="150" height="98" alt="Employers Hire" />
    </div>
    <div class="icon-card__title">
      <h4>Qualify / Connect</h4>
    </div>
    <div class="icon-card__description">
      <p>A certified {{ site.vertical }} Senior Developer reviews your code and references.</p>
    </div>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/hiw-employer-work_0_0_0.png" width="97" height="82" alt="Employer Work" />
    </div>
    <div class="icon-card__title">
      <h4>Work</h4>
    </div>
    <div class="icon-card__description">
      <p>Once approved, we set to work connecting you with opportunities.</p>
    </div>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <div class="icon-card__icon">
      <img typeof="foaf:Image" src="/assets/img/hiw-employer-pay_0_0_0.png" width="84" height="82" alt="Employer Pay" />
    </div>
    <div class="icon-card__title">
      <h4>Get Paid</h4>
    </div>
    <div class="icon-card__description">
      <p>Once engaged, we pay monthly or at the end of the job.</p>
    </div>
  </div>
</div>
<div class="levelBox-body-button text-center">
  <a class="btn btn--blue" href="/getting-started/">Get Started</a>
</div>
