---
title: Contractors
permalink: /contractors/
---

<div class="contractorsContent sectionGrey">
  <div class="block__content">
    <div class="container">
      <h1>Browse top rated talent</h1>
      <div class="view-content">
        <div id="contractorsSlider" class="contractorsSlider carousel-multiple-items carousel slide" data-interval="false" data-wrap="false">
          <div class="carousel-inner row w-100 mx-auto flex-nowrap" role="listbox">
            {% for profile_id in site.data.contractors.main %}
            {% assign profile = site.data.profiles | where: 'id', profile_id | first %}
            <div class="contractorBoxWrap carousel-item{% if forloop.index == 1 %} active{% endif %}">
              {% include card.html content=profile %}
            </div>
            {% endfor %}
            <div class="contractorBoxWrap carousel-item">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="contractorBox signUp">
                  <div class="contractorBoxContent justify-content-center">
                    <h3 class="contractorBox-signUp">Sign up for FREE to view more great contractors</h3>
                    <a href="/getting-started/" class="btn btn--blue btn-signUp">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="#contractorsSlider" data-slide="prev" class="carousel-control-prev" role="button" aria-label="previous" aria-disabled="false" style="display: none;">&nbsp;</a>
          <a href="#contractorsSlider" data-slide="next" class="carousel-control-next" role="button" aria-label="next" aria-disabled="false" style="display: block;">&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include howitworks-foremployers.html %}
{% include contact-form.html %}