---
title: "Find Jobs and Resources"
meta:
  description: ""
permalink: "/"
class: "front page-homepage"
---

<div class="clearfix">
  <div class="heroBanner">
    <div class="homepage-heroBanner-inner container">
      <div class="row">
        <div class="heroBanner-body col-lg-8 col-md-6">
          <div class="field-name-field-hero-title">
            <h2>{{ site.vertical }} experts, when and how you need them.</h2>
          </div>
          <div class="field-name-field-hero-subtitle2">
            <h3>{{ site.title }} matches pre-screened {{ site.vertical }} talent with the needs of your business.</h3>
          </div>
          <div class="heroBanner--grouped_buttons">
            <div class="field-item">
              <a href="/getting-started/" class="btn btn--blue">Get Started</a>
            </div>
            <div class="field-item">
              <a href="mailto:{{ site.email }}" class="btn btn--blue">Talk to Us</a>
            </div>
          </div>
        </div>
        <div class="heroBanner-image col-lg-4 col-md-6">
          <div class="field field-name-field-hero-image field-type-image field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <img typeof="foaf:Image" src="/assets/img/polaroid.png" width="438" height="487" alt="Hero Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionGrey">
    <div class="categoryList">
      <div class="container">
        <h2 class="block-title">Find the perfect addition to your {{ site.vertical }} team</h2>
      </div>
      <div class="view-content container">
        <div class="categoryList-row">
          <a href="/contractors/architect/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-architect-2.png" width="66" height="74" alt="Architects" />
            </span>
            <span class="categoryBox-name">Architect</span>
            <div class="categoryBox-hover">
              <p>{{ site.vertical | upcase }} ARCHITECTS</p>
              <p>MIGRATION / INTEGRATION</p>
              <p>DISCOVERY and ESTIMATION</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/art_director/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-art-3.png" width="98" height="74" alt="Art Directors" />
            </span>
            <span class="categoryBox-name">Art Director</span>
            <div class="categoryBox-hover">
              <p>ART DIRECTORS</p>
              <p>{{ site.vertical | upcase }} EXPERIENCED</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/backend/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-code-5.png" width="86" height="50" alt="Backend Developers" />
            </span>
            <span class="categoryBox-name">Backend Developer</span>
            <div class="categoryBox-hover">
              <p>BACK-END<br />{{ site.vertical | upcase }} DEVELOPERS</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/frontend/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-front-end-2.png" width="96" height="75" alt="Frontend Developers" />
            </span>
            <span class="categoryBox-name">Frontend Developer</span>
            <div class="categoryBox-hover">
              <p>FRONT-END<br />{{ site.vertical | upcase }} DEVELOPERS</p>
              <p> </p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/full_stack/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-5_0_0.png" width="93" height="74" alt="Full Stack Developers" />
            </span>
            <span class="categoryBox-name">Full-Stack Developer</span>
            <div class="categoryBox-hover">
              <p>FRONT-END DEVELOPERS</p>
              <p>BACK-END DEVELOPERS</p>
              <p>SOFTWARE PROGRAMMERS</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/pm/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-pm.png" width="89" height="68" alt="Project Managers" />
            </span>
            <span class="categoryBox-name">Project Manager</span>
            <div class="categoryBox-hover">
              <p>PROJECT MANAGERS</p>
              <p>SCRUM MASTERS</p>
              <p>{{ site.vertical | upcase }} EXPERIENCED</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/qa_tester/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-qa.png" width="61" height="62" alt="QA" />
            </span>
            <span class="categoryBox-name">QA Tester</span>
            <div class="categoryBox-hover">
              <p>QA TESTERS</p>
              <p>QA ENGINEERS</p>
              <p>AUTOMATED TESTING</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
        <div class="categoryList-row">
          <a href="/contractors/sys_admin/" class="categoryBox">
            <span class="categoryBox-icon">
              <img typeof="foaf:Image" src="/assets/img/icon-devops.png" width="78" height="59" alt="DevOps" />
            </span>
            <span class="categoryBox-name">System Administrators</span>
            <div class="categoryBox-hover">
              <p>{{ site.vertical | upcase }} SYSTEM ADMIN</p>
              <p>CONTINUOUS INTEGRATION</p>
              <p>CLOUD EXPERIENCED</p>
              <em>View Profiles ...</em>
            </div>
          </a>
        </div>
      </div>
      <div class="view-footer container">
        <p><a href="/view-all-categories/" class="btn btn--blue">View all Categories</a></p>
      </div>
    </div>
  </div>
  <div id="how-it-works">
    <h2>How it works</h2>
    <div class="pane-content">
      <p>Innovative Solutions for both Employers and Contractors</p>
    </div>
  </div>
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li role="presentation" class="nav-item">
      <a id="employers-tab" class="nav-link active" href="#works-for-employers"  aria-selected="true" aria-controls="works-for-employers" role="tab" data-toggle="tab">For Employers</a>
    </li>
    <li role="presentation">
      <a id="contractors-tab" class="nav-link" href="#works-for-contractors" aria-selected="false" aria-controls="works-for-contractors" role="tab" data-toggle="tab">For Contractors</a>
    </li>
  </ul>
  <div class="tab-content container">
    <div role="tabpanel" aria-labelledby="employers-tab" class="tab-pane active" id="works-for-employers">
      {% include howitworks-foremployers.html %}
    </div>
    <div role="tabpanel" aria-labelledby="contractors-tab" class="tab-pane" id="works-for-contractors">
      {% include howitworks-forcontractors.html %}
    </div>
  </div>

  {% include agencies.html %}

  <div class="panel-pane pane-fieldable-panels-pane engageSection">
    <div class="pane-content">
      <div class="fieldable-panels-pane">
        <div class="engageSection-copy">
          <h2>Choose the engagement style that works for you.</h2>
          <h3>Resources in our network are available for any size project, and some are open to contract-to-hire or full-time.</h3>
        </div>
        <div class="engageSection-options">
          <div class="engageSection-option1">
            <h3>On-demand</h3>
            <p>Contract resources for small needs, multi-year projects, or anything in-between.</p>
          </div>
          <div class="engageSection-option2">
            <h3>Contract-to-hire</h3>
            <p>Some in our network are open to exploring full-time opportunities via contract-to-hire arrangements.</p>
          </div>
          <div class="engageSection-option3">
            <h3>Full-time</h3>
            <p>We provide marquee permanant recruitment services for onsite and remote roles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionTestimonial">
    <div class="container sliderTestimonial">
      <div id="slick-views-homepage-reviews-1-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="boxTestimonial">
              <div class="boxTestimonial-img">
                <img src="/assets/img/iStock-607597128.jpg" alt="Testimonial" title="" />
              </div>
              <div class="boxTestimonial-body">
                <i class="fa fa-quote-left"></i>
                <div class="boxTestimonial-body-description">
                  <p>An amazing resource for quality and reliable {{ site.vertical }} developers, they have never
                    let us down!</p>
                </div>
                <div class="boxTestimonial-body-author">
                  <span>Dan Ventura</span>
                  <span>SVP Digital - Fuse Ideas </span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="boxTestimonial">
              <div class="boxTestimonial-img">
                <img src="/assets/img/StartUp-Programming-Team-509559078_2125x1416.jpeg" alt="Team Programming"
                  title="" />
              </div>
              <div class="boxTestimonial-body">
                <i class="fa fa-quote-left"></i>
                <div class="boxTestimonial-body-description">
                  <p>Extremely skilled and dependable {{ site.vertical }} developers that go the extra mile at
                    crunch time.</p>
                </div>
                <div class="boxTestimonial-body-author">
                  <span>Dennis Eagen</span>
                  <span>CEO - Engine Room Tech </span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="boxTestimonial">
              <div class="boxTestimonial-img">
                <img src="/assets/img/img_4.jpg" alt="Collaboration" title="" />
              </div>
              <div class="boxTestimonial-body">
                <i class="fa fa-quote-left"></i>
                <div class="boxTestimonial-body-description">
                  <p>A consistent source for high-quality resources at a reasonable rate.</p>
                </div>
                <div class="boxTestimonial-body-author">
                  <span>Mike Budreski</span>
                  <span>CEO - Pod Consulting </span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="boxTestimonial">
              <div class="boxTestimonial-img">
                <img src="/assets/img/iStock-598256704.jpg" alt="Testimonial" title="" />
              </div>
              <div class="boxTestimonial-body">
                <i class="fa fa-quote-left"></i>
                <div class="boxTestimonial-body-description">
                  <p>High-quality resources quickly. We couldn’t be more pleased with their people and the
                    relationship we have built.</p>
                </div>
                <div class="boxTestimonial-body-author">
                  <span>Gibson Smith</span>
                  <span>Principal - Avionos </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick__arrow">
          <a class="carousel-control-prev slick-arrow slick-prev" href="#slick-views-homepage-reviews-1-slider" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slick-arrow slick-next" href="#slick-views-homepage-reviews-1-slider" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include contact-form.html %}
