/**
 * @file
 * Header styles
 *
 * Located on the pages: All page
 */

.page-homepage {

  .navbar-toggler-icon {
    color: $white;
  }

  .navbar-brand {

    .white-logo {
      display: inline-block;
    }

    .black-logo {
      display: none;
    }
  }

  .siteHeader {
    background: transparent;
    border-bottom: 0;
    border-top: none;
    box-shadow: unset;
    &-body {
      &-left {
        > .region {
          > .block {
            display: none;

            @include media-breakpoint-up(lg) {
              display: block;
            }
          }
          .logo {
            &--dark {
              display: none;
              opacity: 0;
            }

            &--light {
              display: block;
              opacity: 1;
            }
          }
        }
      }
      &-right {
        &-link {
          &--scroll {
            opacity: 0;
            display: none;
          }

          &--account {
            a {
              color: $white;

              &:hover {
                color: $newblue--lightest;
              }
            }
          }
        }
      }
    }

    .navbar .navbar-collapse {

      #navbarDropdown {

        .caret {

          @include media-breakpoint-up(lg) {
            border-right: 1px solid $white;
            border-bottom: 1px solid $white;
          }
        }
      }

      .navbar-nav > li > a {

        @include media-breakpoint-up(lg) {
          color: $white;
        }
      }
    }
  }
}

.navbar-brand {

  .white-logo {
    display: none;
  }
}

.navbar-toggler-icon {
  align-items: center;
  color: $grey;
  display: flex;
  justify-content: flex-end;
}

#headers-wrapper {
  left: 0;
  position: fixed;
  top: 0;
  transition: left .5s;
  width: 100%;
  z-index: 100;
}

//style for header when scrolling.
.siteHeader-sticky {
  background: $white !important;
  border-top: 1px solid $grey--most !important;
  .navbar-brand {
    .white-logo {
      display: none;
    }
    .black-logo {
      display: inline-block;
    }
  }
  .sign_up-button a {
    color: $black;
  }
  .navbar .navbar-collapse {
    .navbar-nav > li > a {
      color: $black !important;
    }
    .navbar-nav > li > a:hover {
      color: $blue--dark !important;
    }
    #navbarDropdown .caret {
      border-right: 1px solid $black !important;
      border-bottom: 1px solid $black !important;
    }
  }
}

//style for header (white)
.siteHeader {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 99;
  height: 56px;
  width: 100%;
  background: $white;
  transition: background .3s;
  border-top: 1px solid $grey--most;

  @include media-breakpoint-up(lg) {
    height: 60px;
  }

  &-body {
    align-items: stretch;
    display: flex;
    height: 55px;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      height: 50px;
    }

    .block-custom-search-blocks {
      height: 34px;
      position: relative;

      form.search-form {
        position: relative;
        z-index: 1;
      }

      .left-arrow {
        position: absolute;
        width: 100%;

        .button {
          display: block;
          height: 34px;
          position: relative;
          z-index: 2;
          width: 30px;

          // Search icon
          .fa-search {
            color: $newblue;
            font-size: 20px;
            left: 11px;
            position: relative;
            top: 8px;
            right: 15px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .options {
          background: $white;
          border: 1px solid $grey-darker;
          border-top: 0;
          display: none;
          margin-top: -1px;
          position: relative;
          z-index: 2;

          span {
            display: block;
            font-size: 16px;
            padding: 6px 10px 11px 10px;
            transition: 0.3s;

            &.active {
              color: $blue--darkest;
              font-weight: bold;
            }

            &:hover {
              background: $blue--darkest;
              color: $white;
              cursor: pointer;
            }
          }
        }
      }

      .form-item-custom-search-blocks-form-1 {
        margin: 0 20px 0 0;

        input {
          font-size: 14px;
          height: 40px;
          padding: 10px 10px 10px 40px;

          @include media-breakpoint-up(xl) {
            min-width: 340px;
          }
        }
      }

      .form-item-custom-search-paths {
        display: none;
        position: absolute;
        width: 100%;
      }
    }

    &-left {
      display: flex;
      align-items: center;

      > .region {
        display: flex;
        height: 100%;
        align-items: center;

        > .block {
          display: none;

          @include media-breakpoint-up(lg) {
            display: block;
          }
        }

        .logo {
          display: block;
          flex: 0 0 220px;
          transition: opacity .3s;

          @include media-breakpoint-up(sm) {
            margin-right: 20px;
          }

          @include media-breakpoint-up(lg) {
            margin-right: 60px;
          }

          &--light {
            display: none;
            opacity: 0;
          }
        }

        .block-search {
          @include media-breakpoint-up(lg) {
            flex: 0 0 180px;
            margin: 0 10px;
          }

          @include media-breakpoint-up(lg) {
            flex: 0 0 200px;
            margin: $newblue--lightest2;
          }

          @include media-breakpoint-up(xl) {
            flex: 0 0 270px;
            margin: 0 25px;
          }

          .form-inline {
            .form-group {
              display: block;
            }

            .form-control {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }

    &-right {
      > .region {
        align-items: center;
        display: none;
        height: 100%;

        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }

      &-link {
        margin-left: 10px;
        transition: opacity .3s;

        @include media-breakpoint-up(lg) {
          margin-left: 30px;
        }

        @include media-breakpoint-up(xl) {
          margin-left: 45px;
        }

        &--scroll {
          display: none;
          opacity: 0;
        }

        &--account {
          margin: 0 10px;

          @include media-breakpoint-up(lg) {
            margin: 0 15px;
          }

          a {
            font-family: $fontFamily-regular;
            font-size: 16px;
            line-height: 2;
            color: $grey--darkest;
            white-space: nowrap;
            text-transform: uppercase;
            transition: all .3s;

            &:hover {
              color: $blue--darkest;
              text-decoration: none;
            }

            // Where are these icons from? Just hiding them from here.
            & .mbri-login:before,
            & .mbri-edit:before {
              content: '';
            }
          }
        }
      }

      .btn {
        font-size: 16px;
        padding: $newblue--lightest2;
      }
    }
  }

  .hamburger {
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.breadcrumb {
  background: transparent;
}

.scrollHeader {
  position: fixed;
  padding: 10px 0;
  top: 0;
  right: 0;
  width: 100%;
  background: $white;
  z-index: 999;
  transform: translateY(-100%);
  background: #fff;
  border-bottom: 1px solid #999;
  transition: transform .3s, right .5s;

  &.is-show {
    transform: translateY(0);
  }

  &-body {
    > .region {
      display: flex;
      height: 56px;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-up(lg) {
        height: 76px;
      }
    }

    &-logo {
      img {
        width: 220px;
      }
    }

    &-btn {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        flex: 1;
        text-align: right;
      }
    }
  }

  .hamburger {
    color: $grey;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

html body {
  
  &.is-openMenu {

    @include media-breakpoint-up(lg) {
      right: 0;
    }
  }

  &.admin-menu {
    .scrollHeader {
      top: 29px;
    }
  }
}

.global-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  width: 100%;
  background: $white;
  transition: background .3s;
  margin-bottom: 10px;
  @include media-breakpoint-up(lg) {
    height: 60px;
  }
  &-body {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include media-breakpoint-up(lg) {
      height: 60px;
    }

    &-left {
      display: flex;
      align-items: center;
      > .region {
        display: flex;
        height: 100%;
        align-items: center;
        > .block {
          display: none;
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
        .logo {
          display: block;
          flex: 0 0 150px;
          transition: opacity .3s;
          @include media-breakpoint-up(xs) {
            margin-right: 20px;
          }
          @include media-breakpoint-up(lg) {
            margin-right: 60px;
          }
          &--light {
            display: none;
            opacity: 0;
          }
        }
      }
    }
    &-right {
      > .region {
        display: none;
        height: 100%;
        align-items: center;
        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }
      &-link {
        transition: opacity .3s;
        @include media-breakpoint-up(lg) {
        }
        @include media-breakpoint-up(xl) {
          margin-left: 45px;
        }
        &--account {
          margin: 0 10px;
        }
      }
      .right-two-button a {
        background: $black;
        color: $white;
        padding: 8px 12px;
        border-radius: 7px;
        text-align: center;  
        border: 2px solid $black;

        &:hover{
          background: $white;
          color: $black;
          border: 2px solid $black;
        }
      }
      .right-button a {
        background: $white;
        color: $black;
        padding: 8px 40px;
        border: 2px solid $black;
        border-radius: 6px;

        &:hover{
          background: $black;
          color: $white;
        }
      }

      .btn {
        font-size: 12px;
        padding: $newblue--lightest2;
      }
    }
  }

  .hamburger-top {
    display: block;
    outline: none;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
.global-header-body .logo img {
  width: 150px;
}

.logo {
  img {
    width: 220px;
  }
}

.navbar {

  .navbar-collapse {

    @include media-breakpoint-down(md) {
      background: $grey--lightest;
      border-left: 1px solid $grey--light;
      display: block;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; 
      position: fixed;
      right: -($mobileMenuWidth--mobile);
      top: 0;
      transition: right .5s;
      width: $mobileMenuWidth--mobile;
    }

    @include media-breakpoint-between(xs, md) {
      right: -($mobileMenuWidth--tablet);
      width: $mobileMenuWidth--tablet;
    }

    #navbarDropdown {

      @include media-breakpoint-up(lg) {
        padding-right: 4rem;

        .caret {
          border-right: 1px solid $grey;
          border-bottom: 1px solid $grey;
        }
      }
    }

    .navbar-nav {

      @include media-breakpoint-down(md) {
        border-top: 1px solid $grey--light;
        margin-top: 5.5rem;
      }

      li {

        > a {
          color: $black;
          font-family: $font-poppinsregular;
          font-size: 1.6rem;
          text-transform: uppercase;
        }

        a {

          @include media-breakpoint-down(md) {
            align-items: center;
            color: $black;
            display: flex;
            font-weight: $font-weight-bold;
            justify-content: space-between;
            padding: 2rem;
            position: relative;
            text-transform: none;
          }

          .caret {
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -7px;
            width: 10px;
            height: 10px;
            border: 0;
            border-right: 1px solid $grey;
            border-bottom: 1px solid $grey;
            transform: rotate(45deg);
            transition: all .3s;
          }

          &[aria-expanded='true'],
          &.open-caret {

            .caret {
              margin-top: -2px;
              transform: rotate(-135deg);
            }
          }

          &:after {
            display: none;
          }
        }
      }

      > .dropdown {

        .nav-item-second {
          border-top: none;
        }

        > .dropdown-menu {
          @include media-breakpoint-up(lg) {
            border-left: 1px solid $grey--most;
          }

          &:before {

            @include media-breakpoint-up(lg) {
              content: "";
              display: block;
              position: absolute;
              top: -0.6rem;
              left: 2rem;
              width: 1.2rem;
              height: 1.2rem;
              background: $white;
              border-left: 2px solid $grey--most;
              border-bottom: 2px solid $grey--most;
              transform: rotate(135deg);
            }
          }

          @include media-breakpoint-down(md) {
            background: $grey--most;
            margin: 0;
          }

          > .dropdown-submenu > .dropdown-menu {

            @include media-breakpoint-down(md) {
              background: $grey--mid;
              margin: 0;
            }
          }
        }
      }

      .dropdown-menu {
        border-radius: 0;
        margin-top: 0;
        padding-top: 0;

        @include media-breakpoint-down(md) {
          border-bottom: none;
          border-left: none;
          border-right: none;
        }

        a,
        .dropdown-item,
        .nav-link {

          @include media-breakpoint-down(md) {
            border-bottom: 1px solid $grey--light;
          }
        }

        a {
          position: relative;
          display: block;
          padding: 15px 35px 15px 15px;
          font-family: $font-poppinsregular;
          font-size: 16px;
          color: $grey;
          cursor: pointer;
          text-transform: none;
          transition: all .3s;

          @include media-breakpoint-down(md) {
            color: $black;
          }

          &:focus,
          &:active {
            background: transparent;
          }
        }

        > li {

          > a {

            @include media-breakpoint-down(md) {
              padding-left: 2.25rem;
            }
          }

          .dropdown-menu {

            > li > a {

              @include media-breakpoint-down(md) {
                padding-left: 2.5rem;
              }
            }
          }
        }

        .open-caret {
          position: relative;
          color: $blue--darkest;

          &:before {
            background: $blue--darkest;
            content: "";
            height: 100%;
            left: -1px;
            position: absolute;
            top: 0;
            width: 0.6rem;
          }
        }
      }
    }
  }

  .region-navigation-right {
    align-items: center;
    display: flex;

    @include media-breakpoint-down(md) {
      align-items: flex-start;
      flex-direction: column;

      a {
        color: $black;
        display: block;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        line-height: normal;
        padding: 2rem;
        text-align: left;
        text-transform: none;
      }

      .siteHeader-body-right-link {
        border-bottom: 1px solid $grey--light;
        margin-left: 0;
        width: 100%;

        &--account {
          order: 2;
        }

        &--btn {
          border-top: 1px solid $grey--light;
          order: 1;

          .btn {
            background: transparent;
            border: none;
            color: $black !important;

            &:hover {
              color: $blue--dark !important;
            }
          }
        }
      }
    }
  }
}
