---
layout: default
class: "page-profile-main"
---

<div class="row profile2-main">
  <div class="col-sm-8 col-md-9">
    <section class="c-card c-card--inverted-outline">
      <img typeof="foaf:Image" src="{{ page.image }}" width="100" height="100" alt="{{ page._name }}" class="field-name-field-profile-picture">
      <h1 class="text-left">{{ page._name }}</h1>
      <h2>{{ page.location }}</h2>
      <p style="clear:left">
      {%- for title in page.titles -%}
      {{ site.data.config.valueMap[title] }}{%- if forloop.last != true %} | {% endif -%}
      {%- endfor -%}
      </p>
      <p>{{ page[site.bio] }}</p>
    </section>
    <section class="c-card c-card--inverted-outline tags--main">
      <h3>Skills</h3>
      {% for skill in page.skills %}
        <a href="/skills/{{ skill }}" typeof="skos:Concept" property="rdfs:label skos:prefLabel">{{ site.data.config.valueMap[skill] }}</a>
      {% endfor %}
    </section>
  </div>
  <div class="col-sm-4 col-md-3">
    <section class="c-card c-card--inverted-outline">
      <h3>Availability</h3>
      <p>{{ site.data.config.valueMap[page.availability] }}</p>
    </section>
    <section class="c-card c-card--inverted-outline">
      <h3>Citizenship</h3>
      <p>{{ site.data.config.valueMap[page.citizenship] }}</p>
    </section>
    <section class="c-card c-card--inverted-outline">
      <h3>Experience Level</h3>
      {% assign experience = page[site.experience] %}
      <p>{{ site.data.config.valueMap[experience] }}</p>
    </section>
    <section class="c-card c-card--inverted-outline">
      <h3>Languages</h3>
      <p>English Proficiency: {{ site.data.config.valueMap[page.english] }} </p>
    </section>
  </div>
</div>
