---
layout: default
class: "node-type-job"
---

<article about="{{ page.url }}" typeof="sioc:Item foaf:Document">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-company">
          <div class="profile-company__logo">
            <img src="/assets/img/wp_logo.png" alt="Logo">
          </div>
          <p class="job-title">{{ page.title }}</p>
          <div class="profile-location"><i class="fa fa-map-marker"></i> {{ site.data.config.valueMap[page.attendance] }}</div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-8">
        {{ page.description | markdownify }}
      </div>
      <div class="col-md-4">
        <div class="job-details">
          <h2 class="job-details__title">Job Details</h2>
          <h3>Seniority Level</h3>
          <p>{{ site.data.config.valueMap[page.experience] }}</p>
          <h3>Industry</h3>
          <ul>
            {% for category in page.categories %}
            <li>{{ site.data.config.valueMap[category] }}</li>
            {% endfor %}
          </ul>
          <h3>Employment Type</h3>
          <p>{{ site.data.config.valueMap[page.weekly_hours] }}</p>
          <h3>Skills Required</h3>
          <ul>
            {% for skill in page.skills %}
            <li>{{ site.data.config.valueMap[skill] }}</li>
            {% endfor %}
          </ul>
          <h3>Type of Job:</h3>
          <p>{{ site.data.config.valueMap[page.engagement] }}</p>
          <h3>Start Date:</h3>
          <p class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ page.start_date | date: "%FT%T%z" }}">{{ page.start_date | date: "%A, %B %e, %Y" }}</p>
          <h3>Attendance:</h3>
          <p>{{ site.data.config.valueMap[page.attendance] }}</p>
          <h3>Status:</h3>
          <p>Open</p>
        </div>
      </div>
    </div>
  </div>
</article>
