/**
 * @file
 * Content styles
 */


// Solution
.tags--main {
  .field-item {
    display: inline-block;
    margin-top: 5px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  a {
    background: $grey--lightest;
    border-radius: $border-radius;
    color: $grey--darkest;
    display: inline-block;
    font-size: 13px;
    outline: 0;
    padding: 4px 8px;
    transition: all .3s;

    &:hover {
      background: $blue--darkest;
      color: $white;
    }
  }
}
