@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins-bold-webfont.eot');
  src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-bold-webfont.woff') format('woff'),
       url('../fonts/poppins-bold-webfont.ttf') format('truetype'),
       url('../fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinslight';
  src: url('../fonts/poppins-light-webfont.eot');
  src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-light-webfont.woff2') format('woff2'),
       url('../fonts/poppins-light-webfont.woff') format('woff'),
       url('../fonts/poppins-light-webfont.ttf') format('truetype'),
       url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('../fonts/poppins-medium-webfont.eot');
  src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
       url('../fonts/poppins-medium-webfont.woff') format('woff'),
       url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
       url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins-regular-webfont.eot');
  src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins-regular-webfont.woff') format('woff'),
       url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
       url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url('../fonts/poppins-semibold-webfont.eot');
  src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-semibold-webfont.woff') format('woff'),
       url('../fonts/poppins-semibold-webfont.ttf') format('truetype'),
       url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ionicons';
  src: url('../fonts/ionicons.eot');
  src: url('../fonts/ionicons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ionicons.woff') format('woff'),
  url('../fonts/ionicons.ttf') format('truetype'),
  url('../fonts/ionicons.svg#ionicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-poppinsregular: "poppinsregular", Helvetica, Arial, sans-serif, normal;

@font-face {
  font-family: 'catamaranthin';
  src: url(../fonts/catamaran-thin.eot);
  src: url(../fonts/catamaran-thin.eot?#iefix) format("embedded-opentype"),
  url(../fonts/catamaran-thin.woff2) format("woff2"),
  url(../fonts/catamaran-thin.woff) format("woff"),
  url(../fonts/catamaran-thin.ttf) format("truetype"),
  url(../fonts/catamaran-thin.svg) format("svg");
  font-weight: normal;
  font-style: normal
}

$font-catamaranthin: "catamaranthin", Helvetica, Arial, sans-serif;
